PORT=3000
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_VERIFY_SERVICE_SID=your_verify_service_sid
TWILIO_DEFAULT_COUNTRY_CODE=+91
OTP_TEST_MODE=false
OTP_TEST_EXPIRY_SECONDS=300
